[data-md-color-scheme="trappytheme"] {
  --md-primary-fg-color:        #01BDD6;
  --md-primary-fg-color--light: #F0E4E4;
  --md-primary-fg-color--dark:  #000000;
}

/* docs/stylesheets/extra.css */
model-viewer {
  --poster-color: #ffffff00; /* Removes the default grey background */
}